<footer>
    <section>
        <img src="assets/img/logo.png" alt="Logo" class="logo">
        <a href="/inloggen">inloggen</a>
    </section>
    <section>
        <a href="/overons.liquid">Over Ons</a>
        <a href="/events.liquid">Events</a>
        <a href="/publicaties.liquid">Publicaties</a>
        <a href="/leden.liquid">Leden</a>
        <a href="/vacatures.liquid">Vacatures</a>
        <a href="/voorwaarden.liquid">Algemene Voorwaarden</a>
        <a href="/privcacy.liquid">Privacybeleid</a>
    </section>
    <section>
        <bold>Dutch Digital Agencies</bold>
        <p>Overhoeksplein 11031 KS Amsterdam</p>

        <a>(0)85 4010391</a>
        <a>info@dutchdigitalagencies.com</a> 
    </section>
    <section>
        <a href="/instagram">Instagram</a>
        <a href="/facebook">Facebook</a>
        <a href="/linkedin">LinkedIn</a>
        <p>Copyright © 2025 Dutch Digital Agencies</p>
    </section>
</footer>