<header>
    <img src="assets/img/logo.png" alt="Logo" class="logo">
    <nav>
        <ul>
            <li><a href="overons.liquid">OVER ONS</a></li>
            <li><a href="events.liquid">EVENTS</a></li>
            <li><a href="publicaties.liquid">PUBLICATIES</a></li>
            <li><a href="vacatures.liquid">VACATURES</a></li>
        </ul>
    </nav>
    
    <a href="/login">inloggen</a>
    <a href="/wordlid">word lid</a>
</header>