{% render 'partials/head.liquid', title: 'Vacatures' %}

{% render 'partials/header.liquid' %}

<aside>
    <a href="/vacatures">
        <img src="assets/arrow-left.svg" alt="arrow">
        terug naar home
    </a>
    <h1>Vacatures</h1>
    <p>Verslim je carrière bij de beste digitale bureaus van Nederland. Pak je rol als developer of designer,
        researcher, als scrum master of marketeer, als strateeg. Start of groei door – en laat zien wat je kan.</p>
</aside>

<form>
    <label for="search">Zoek vacatures</label>
    <input type="text" id="search" name="search" placeholder="Zoek vacatures">
    <select class="btn">
        <option value="all">Expertise</option>
        <option value="frontend">Frontend Developer</option>
        <option value="backend">Backend Developer</option>
        <option value="fullstack">Fullstack Developer</option>
        <option value="designer">Designer</option>
        <option value="marketeer">Marketeer</option>
    </select>
    <select>
        <option value="all">Soort</option>
        <option value="frontend">Frontend Developer</option>
        <option value="backend">Backend Developer</option>
        <option value="fullstack">Fullstack Developer</option>
        <option value="designer">Designer</option>
        <option value="marketeer">Marketeer</option>
    </select>
    <select>
        <option value="all">Locatie</option>
        <option value="frontend">Frontend Developer</option>
        <option value="backend">Backend Developer</option>
        <option value="fullstack">Fullstack Developer</option>
        <option value="designer">Designer</option>
        <option value="marketeer">Marketeer</option>
    </select>
    <select>
        <option value="all">Voertaal</option>
        <option value="frontend">Frontend Developer</option>
        <option value="backend">Backend Developer</option>
        <option value="fullstack">Fullstack Developer</option>
        <option value="designer">Designer</option>
        <option value="marketeer">Marketeer</option>
    </select>
</form>

<main>
    <ul>
        {% for vacature in vacatures %}
        <li>
            <h4>{{vacature.title}}</h4>
            <p><span>ENG & NL</span><span>VALSPLAT</span><span>{{vacature.hours}}</span><span>{{vacature.locatie}}</span></p>
            <a href="{{vacature.url}}">BEKIJKEN →</a>
        </li>
        {% endfor %}
    </ul>
</main>

{% render 'partials/footer.liquid' %}